[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
fastai = "*"
pandas = "*"
sklearn = "*"
google-images-download = "*"
jupyter = "*"

[requires]
python_version = "3.7"
